* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    color: #fff;
    background-image: linear-gradient(
        300deg,
        rgba(24, 100, 128, 0.9),
        rgba(12, 87, 74, 1)
      ),url("unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* h1 {
    text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
   1px -1px 0 #000,
  -1px -1px 0 #000;
} */

#main {
    padding: 0.1rem 1rem;
    margin: 1rem 10px;
}

.header {
    text-align: center;
    margin: 0.5rem 0;
    max-width: 100%;
}

#header-container {
    margin-bottom: 1.5rem;
}

#survey-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 1rem;
    background-color:  #114a5f;
    color: #fff;
    border-radius: 0.5rem;
    margin: 0 auto 1.5rem;
    max-width: 400px;
    box-shadow: 0 -5px 3px -3px black, 0 5px 3px -3px black;
}

input[type="number"], input[type="email"], input[type="text"], select {
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
}

#grid-radio, #grid-checkbox {
    margin: 0.5rem 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1fr;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.5rem;
}

#checkbox-container, #radio-container, #suggestion-container {
    margin: 0.5rem 0;
}

#suggestions {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    resize: none;
}

#submit {
    color: #fff;
    padding: 0.5rem;
    border-radius: 0.4rem;
    font-size: 1rem;
    background: linear-gradient(145deg, #e64e2e, #ff5d37);
    box-shadow:  1px 1px 0px #de4c2c;
}

@media screen and (min-width: 800px) {
    form {
    width: 50vw;
    }
}